@import '../../bower_components/sass-mediaqueries/media-queries';
@import '../../bower_components/sass-mixins/mixins';

/*%clearfix
{
	&:after
	{
		content: '';
		display: table;
		clear: both;
	}
}*/

@import 'modal';